@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-align: center;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;    
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container{
    background-color: rgba(255, 255, 0, 0.488);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    margin-top: 3%;
    border-radius: 10px;
}
.countdown{
    background-color: rgba(0, 14, 55, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
    margin: 10px 50px;
    padding: 50px 0;
    border-radius: 10px;
}
.time{
    font-weight: 100;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
a {
    background: rgb(255, 128, 0);
    padding: 20px 50px;
    margin-top: 10%;
    border: #00096b solid 3px;
    border-radius: 10px;
    color: white;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 500;
}
a:hover{

}